* {
  margin: 0;
  padding: 0;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto auto auto;
  column-gap: 2px;
  width: fit-content;
}

.wrapper > div {
  background-color: black;
  height: 100px;
  width: 100px;
  border: 2px solid rgb(47, 162, 207);
  font-size: 5rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 5rem;
  color: red;
  position: relative;
  bottom: 50px;
}
