* {
  margin: 0;
  padding: 0;
}
body {
  background: black;
  font-family: "Odibee Sans", cursive;
}

.main {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid transparent;
  border-image: linear-gradient(
    to right,
    rgb(2, 176, 245),
    rgba(245, 6, 245, 0.972)
  );
  border-image-slice: 1;
  width: 80%;
  margin: auto;
  position: relative;
  top: 70px;
}

.wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto auto auto;
  column-gap: 2px;
  width: fit-content;
}

.wrapper > div {
  height: 100px;
  width: 100px;
  font-size: 5rem;
  color: rgb(16, 238, 16);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wins {
  display: flex;
  justify-content: space-around;
  color: rgb(157, 81, 207);
  width: 100%;
  position: relative;
  top: -60px;
}

span {
  color: rgb(2, 176, 245);
}

.one {
  border-right: 3px solid rgb(240, 77, 77);
  border-bottom: 3px solid rgb(240, 77, 77);
}

.four {
  border-right: 3px solid rgb(240, 77, 77);
}

.three {
  border-left: 3px solid rgb(240, 77, 77);
  border-bottom: 3px solid rgb(240, 77, 77);
}

.six {
  border-left: 3px solid rgb(240, 77, 77);
}

.nine {
  border-left: 3px solid rgb(240, 77, 77);
  border-top: 3px solid rgb(240, 77, 77);
}

.two {
  border-bottom: 3px solid rgb(240, 77, 77);
}

.five {
}

.eight {
  border-top: 3px solid rgb(240, 77, 77);
}

.seven {
  border-top: 3px solid rgb(240, 77, 77);
  border-right: 3px solid rgb(240, 77, 77);
}

.heading {
  color: rgb(2, 176, 245);
  text-align: center;
  position: relative;
  top: 30px;
  font-size: 5rem;
}
